/__pycache__
/app/__pycache__
/app/configurations/__pycache__
/app/models/__pycache__
/app/resources/__pycache__
/app/schemas/__pycache__
/app/user_functions/__pycache__

/tests/__pycache__
/tests/.pytest_cache
/tests/resources/__pycache__
/tests/resources/.pytest_cache
/tests/user_functions/__pycache__
/tests/user_functions/.pytest_cache

/venv
env
config.env
TODO.txt